
@{
    ViewData["Title"] = "EscojeDestino";
}
<div class="escojeDestino">
    <div class="filtroDestino">
        <div class="dest">
            <p>Ingrese destino\ciudad:</p>
            <input type="text" class="nameCiudad">
            <button type="submit" class="btCiudad">BUSCAR</button>
        </div>
    </div>

</div>
