<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjectAtipax</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjectAtipax.styles.css" asp-append-version="true" />

</head>
<body>
    <div class="principal">
    <header class="headerAtipax">

            <div class="navAtipax">
                <nav>
                    <a class="menu-item" asp-action="" asp-controller="Viajes"><img class="logo" src="~/img/Grupo-2 1.png"/></a>
                        
                        <a class="menu-item" asp-action="Index" asp-controller="Viajes">Inicio</a>
                       
                        <a class="menu-item" asp-action="Contacto" asp-controller="Viajes">Contáctenos</a>
                     
                        <a class="menu-item" asp-action="Destino" asp-controller="Viajes">Escoje tu destino</a>
                       
                        <a class="menu-item" asp-action="Salir" asp-controller="Viajes">Salir</a>
  
                </nav>
            </div>

        </header>
       <section>
            @RenderBody()
        </section>
   
        <footer>
            <div class="wrapper-row">
                <h3>Copyright © 2022 Atipax Group. Todos los derechos reservados.</h3>
            </div>
            <div class="footer-rs">
                <img class="rs" src="~/imagenes/face.jpg" />
                <img class="rs" src="~/imagenes/instagram.jpg" />
                <img class="rs" src="~/imagenes/twitter.jpg" />
                <img class="rs" src="~/imagenes/pinterest.jpg" />
            </div>
        </footer>
        
    </div>
</body>
</html>
