

.headerAtipax {
    /*<img class="fondo" src="~/img/f18.jpg" />*/
    /* background-image: url(~/img/f18.jpg);*/
    background
}
.navAtipax {
    background-color: white;
    border-radius: 30px;
    opacity: .8;
}
.logoAtipax{

}